<div id="new_district" data-hook></div>

<table class="table" id='listing_districts' data-hook>
  <thead>
    <tr data-hook="districts_header">
      <th><%= Spree.t(:name) %></th>
      <th class="text-center"><%= Spree.t(:code) %></th>
      <th class="text-center"><%= Spree.t(:postcode) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @districts.each do |district| %>
      <tr id="<%= spree_dom_id district %>" data-hook="districts_row">
        <td><%= district.name %></td>
        <td class="text-center"><%= district.code %></td>
        <td class="text-center"><%= district.postcode %></td>
        <td class="actions actions-2 text-right">
          <%= link_to_edit(district, no_text: true) if can? :edit, district %>
          <%= link_to_delete(district, no_text: true) if can? :delete, district %>
        </td>
      </tr>
    <% end %>
    <% if @districts.empty? %>
      <tr><td colspan="3"><%= Spree.t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>
