<% content_for :page_title do %>
  <%= plural_resource_name(Spree::District) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_district), new_admin_state_district_url(@state), { class: "btn-success", icon: 'add', id: 'new_district_link' } %>
<% end if can? :create, Spree::District %>

<div data-hook="state" class="form-group">
  <%= label_tag :state, Spree.t(:state) %>
  <select id="state" class='observe_field select2' data-base-url="<%=admin_districts_path(format: :js) %>?state_id=" data-update="#district_div_list">
    <%= options_from_collection_for_select(@states, :id, :name, @state.id) %>
  </select>
</div>

<div id="district_div_list" data-hook>
  <%= render partial: 'district_div_list'%>
</div>
