<div id="new_subdistrict" data-hook></div>

<table class="table" id='listing_subdistricts' data-hook>
  <thead>
    <tr data-hook="subdistricts_header">
      <th><%= Spree.t(:name) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @subdistricts.each do |subdistrict| %>
      <tr id="<%= spree_dom_id subdistrict %>" data-hook="subdistricts_row">
        <td><%= subdistrict.name %></td>
        <td class="actions actions-2 text-right">
          <%= link_to_edit(subdistrict, no_text: true) if can? :edit, subdistrict %>
          <%= link_to_delete(subdistrict, no_text: true) if can? :delete, subdistrict %>
        </td>
      </tr>
    <% end %>
    <% if @subdistricts.empty? %>
      <tr><td colspan="3"><%= Spree.t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>
