<% content_for :page_title do %>
  <%= link_to Spree.t(:orders), admin_orders_path %> /
  <%= @order.number %>
  / <%=Spree.t(:ordersummary) %>
<% end %>

<%= render 'order_actions', order: @order, events: @order_events %>

<div data-hook="admin_order_edit_header">
  <%= render 'spree/admin/shared/error_messages', target: @order %>
</div>

<!--Customer-->
<%= form_for @order, url: spree.admin_order_customer_url(@order) do |f| %>
  <%= render 'spree/admin/orders/form_readonly', f: f %>
<% end %>


<!-- Payment -->
<div class="alert alert-warning"><%= Spree.t(:payments) %></div>

<% if @order.outstanding_balance? %>
  <div class="alert alert-info outstanding-balance">
    <%= @order.outstanding_balance < 0 ? Spree.t(:credit_owed) : Spree.t(:balance_due) %>: <strong><%= @order.display_outstanding_balance %></strong>
  </div>
<% end %>

<% if @payments.any? %>

  <div data-hook="payment_list" class="panel panel-default no-border-bottom table-wrapper">
    <%= render partial: 'spree/admin/payments/list', locals: { payments: @payments } %>
  </div>

  <% if @refunds.any? %>
    <fieldset data-hook="payment_list" class="no-border-bottom">
      <legend><%= Spree.t(:refunds) %></legend>
      <%= render partial: 'spree/admin/shared/refunds', locals: { refunds: @refunds, show_actions: true } %>
    </fieldset>
  <% end %>

<% else %>
  <div class="alert alert-info no-objects-found"><%= Spree.t(:order_has_no_payments) %></div>
<% end %>

<!-- Order Details -->
<div class="alert alert-warning"><%= plural_resource_name(Spree::Shipment) %></div>
<% if @order.payments.valid.any? && @order.considered_risky? %>
  <%= render 'spree/admin/orders/risk_analysis', latest_payment: @order.payments.valid.last %>
<% end %>

<%# render 'add_product' if @order.shipment_state != 'shipped' && can?(:update, @order) %>

<% if @order.line_items.empty? %>
  <div class="alert alert-warning">
    <%= Spree.t(:your_order_is_empty_add_product)%>
  </div>
<% end %>

<div data-hook="admin_order_edit_form">
  <div id="order-form-wrapper">
    <%= render partial: 'form', locals: { order: @order } %>
  </div>
</div>


<!-- order summary -->

<%= render 'spree/admin/shared/order_summary' %>

<!-- State Change -->
<div class="alert alert-warning"><%= Spree::StateChange.human_attribute_name(:state_changes) %></div>
<% if @state_changes.any? %>
  <table class="table" id="listing_order_state_changes" data-hook>
    <thead>
      <tr data-hook="admin_orders_state_changes_headers">
        <th><%= Spree::StateChange.human_attribute_name(:type) %></th>
        <th><%= Spree::StateChange.human_attribute_name(:state_from) %></th>
        <th><%= Spree::StateChange.human_attribute_name(:state_to) %></th>
        <th><%= Spree::StateChange.human_attribute_name(:user) %></th>
        <th><%= Spree::StateChange.human_attribute_name(:timestamp) %></th>
      </tr>
    </thead>

    <tbody>
      <% @state_changes.each do |state_change| %>
        <tr>
          <td><%= Spree.t("state_machine_states.#{state_change.name}") %></td>
          <td><%= state_change.previous_state ? Spree.t(state_change.previous_state, scope: "#{ state_change.name }_state") : Spree.t(:previous_state_missing) %></td>
          <td><%= Spree.t(state_change.next_state, scope: "#{ state_change.name }_state") %></td>
          <td>
            <% if state_change.user %>
              <% user_login = state_change.user.try(:login) || state_change.user.try(:email) %>
              <%= link_to user_login, spree.admin_user_path(state_change.user) %>
            <% end %>
          </td>
          <td>
            <%= pretty_time(state_change.created_at) %>
            <% if state_change.created_at != state_change.updated_at %>
              <small><%= Spree::StateChange.human_attribute_name(:updated) %>: <%= pretty_time(state_change.updated_at) %></small>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_state_changes) %>
  </div>
<% end %>
