<table class="table table-bordered" id='payments' data-order-id='<%= @order.number %>'>
  <thead>
    <tr data-hook="payments_header">
      <th><%= Spree::Payment.human_attribute_name(:number) %></th>
      <th><%= "#{Spree.t('date')}/#{Spree.t('time')}" %></th>
      <th class="text-center"><%= Spree.t(:amount) %></th>
      <th class="text-center"><%= Spree.t(:payment_method) %></th>
      <th class="text-center"><%= Spree.t(:transaction_id) %></th>
      <th class="text-center"><%= Spree.t(:payment_state) %></th>
    </tr>
  </thead>
  <tbody>
    <% payments.each do |payment| %>
      <tr id="<%= dom_id(payment) %>" data-hook="payments_row" data-number="<%= payment.number %>">
        <td><%= payment.number %></td>
        <td><%= pretty_time(payment.created_at) %></td>
        <td class="amount text-center"><%= payment.display_amount %></td>
        <td class="text-center"><%= payment_method_name(payment) %></td>
        <td class="text-center">
          <% if bank_transfer_payment = @order.payments.from_bank_transfer.where(:id =>  payment.id ).first %>
              <fieldset class="no-border-bottom" >
                <% unless bank_transfer_payment.bank_attachment_file_name.nil? %>
                  <div class="media-left">
                    <%=link_to image_tag(bank_transfer_payment.bank_attachment.url,class: 'media-object'), bank_transfer_payment.bank_attachment.url(:original), :popup=>['original_image', 'height=700,width=900'] %>
                  </div>
                <% end %>
              </fieldset>
          <% else %>  
            <%= payment.transaction_id %>
          <% end %>
        </td>
        <td class="text-center">
          <span class="label label-<%= payment.state %>">
            <%= Spree.t(payment.state, scope: :payment_states, default: payment.state.capitalize) %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>